body {
  min-height:100%;
}
.flex-container {
    padding: 2em;
    margin: 0;
    list-style: none;
    background: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    float: stretch;
}
.stretch { 
    -webkit-align-items: stretch;
    align-items: stretch;
}  
.stretch li {
    background: none;
}
.flex-item {
    background: none;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
    width: auto;
    margin: 5px;
}
p {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    line-height: 2em;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right: 2em;
}
.fa {
    padding: 0em;
	padding-top: 2em;
    padding-bottom: 2em;
	width: 130px;
	text-align: center;
    text-decoration: none;
}
.fa-soundcloud {
	background: none;
	color: #101010;
}
.fa-facebook {
	background: none;
	color: #101010;
}
.fa-twitter {
	background: none;
	color: #101010;
}
.fa-instagram {
	background: none;
	color: #101010;
}
.fa-tumblr {
	background: none;
	color: #101010;
}
.fa-linkedin {
	background: none;
	color: #101010;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: #F0F0F0;
}
footer {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    padding-top: 1em;
    padding-bottom: 5em;
    padding-left: 3em;
    padding-right: 2em;
}